.proj {
  border-radius: 0.5em;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

.proj img {
  display: block;
}

.proj-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: 1;
}

.proj-info {
  background: rgb(var(--light));
  width: 100%;
  line-height: 1.25;
  padding: 0.5rem 0;
}

.proj-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.proj-name a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-decoration: none;
}

.proj-langs {
  font-size: 1.6rem;
}

@media (hover: hover) {
  .proj-overlay {
    opacity: 0;
  }

  .proj-overlay:hover,
  .proj-overlay:focus-within {
    transition: opacity 0.3s;
    opacity: 1;
  }
}
