.proj {
  position: relative;
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.proj img {
  display: block;
}

.proj-overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: flex-end;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.proj-info {
  background: rgb(var(--light));
  padding: 0.5rem 0;
  width: 100%;
  line-height: 1.25;
}

.proj-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.proj-name a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 2.4rem;
  letter-spacing: 0.25rem;
  text-decoration: none;
  text-transform: uppercase;
}

.proj-langs {
  font-size: 1.6rem;
}

@media (hover: hover) {
  .proj-info {
    transform: translate(0, 100%);
    opacity: 0;
    transition:
      transform 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
  }

  .proj-overlay:hover .proj-info,
  .proj-info:focus-within {
    transform: none;
    opacity: 1;
    transition:
      transform 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
  }
}
