#cb-svg {
  flex: 0 1 48rem;
  height: 100%;
  width: auto;
  max-height: 24rem;
}

#cb-glow-med,
#cb-glow-light {
  animation: 4s linear infinite glow;
  transform-origin: center center;
}

@keyframes glow {
  50% {
    transform: scale(1);
  }

  0%,
  100% {
    transform: scale(0.925);
  }
}

#cb-content {
  animation:
    2s linear infinite float,
    4s linear infinite fade;
}

@keyframes float {
  50% {
    transform: translate(0, 1em);
  }
  0%,
  100% {
    transform: translate(0, -1em);
  }
}

@keyframes fade {
  50% {
    opacity: 75%;
  }
  0%,
  100% {
    opacity: 50%;
  }
}


@media screen and (min-width: 769px) {
  #cb-svg {
    max-height: 48rem;
  }
}