#contact-form {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0;
}

#send-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#send-bar p {
  margin: 0;
  font-size: 1.6rem;
  font-style: italic;
  color: rgb(var(--accent));
}

#dots {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  width: 0rem;
}

@keyframes ellipsis {
  to {
    width: 1.2rem;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.2rem;
  }
}

@media screen and (min-width: 821px) {
  #contact-form {
    padding: 0 2rem;
  }
}
