header {
  width: 100%;
  position: sticky;
  z-index: 1;
  background-color: rgb(var(--dark));
  border-spacing: 5px;
}

.sticky {
  position: 0;
  top: 0;
}

#header-border {
  margin: 0 1rem;
  padding: 1.2rem 0 1.2rem 0;
  border-bottom: 1px solid rgb(var(--light));
}

#header-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

#site-logo img {
  display: block;
  max-height: 48px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
}

#hamburger {
  max-height: 44px;
  min-height: 44px;
  min-width: 44px;
  cursor: pointer;
}

#hamburger:hover {
  color: rgb(var(--accent));
}

#hamburger svg {
  height: 100%;
  width: 100%;
}

.mobile-hidden-flex {
  display: none;
}

.desktop-hidden-in {
  display: inline;
}

.desktop-hidden-flex {
  display: flex;
  margin-right: 1rem;
}

@media screen and (min-width: 441px) {
  #header-container {
    flex-direction: column;
    gap: 1rem;
  }

  .mobile-hidden-flex {
    display: flex;
  }

  .desktop-hidden-in,
  .desktop-hidden-flex {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  #header-container {
    flex-direction: row;
    gap: 0;
  }
}
