header {
  width: 100%;
  position: sticky;
  z-index: 1;
  background-color: rgb(var(--dark));
  border-spacing: 5px;
}

.sticky {
  position: 0;
  top: 0;
}

#header-border {
  margin: 0 1rem;
  padding: 1.2rem 0 1.2rem 0;
  border-bottom: 1px solid rgb(var(--light));
}

#header-container {
  margin: 0 1rem;
}

#header-top-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

#site-logo img {
  display: block;
  max-height: 44px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
}

#hamburger {
  max-height: 44px;
}

.hamburger-icon {
  min-height: 44px;
  min-width: 44px;
}

.tablet-hidden-flex {
  display: none;
}

.desktop-hidden-in {
  display: inline;
}

.desktop-hidden-flex {
  display: flex;
}

@media screen and (min-width: 719px) {
  #header-container {
    flex-direction: row;
    align-items: center;
  }

  .tablet-hidden-flex {
    display: flex;
  }

  .desktop-hidden-in,
  .desktop-hidden-flex {
    display: none;
  }
}