footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  border-top: 1px solid rgb(var(--light));
  padding: 2.4rem 0;
  font-size: 1.6rem;
}

footer p {
  margin: 0;
  text-align: center;
}

footer ul {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

footer ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s;
  min-width: 44px;
  min-height: 44px;
  color: #fff;
  font-size: 3.6rem;
  line-height: 44px;
  text-decoration: none;
}

footer ul a:hover,
footer ul a:active,
footer ul a:focus-visible {
  transition: color 0.3s;
  color: rgb(var(--accent));
  text-decoration: none;
}

@media screen and (min-width: 780px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }

  footer ul {
    margin-top: 0;
  }
}

@media (pointer: fine) {
  footer ul li a {
    min-width: auto;
    min-height: auto;
    font-size: 2.4rem;
    line-height: normal;
  }
}
