#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* TYPOGRAPHY */

h1 {
  font-family: Eczar, Georgia, "Times New Roman", Times, serif;
  font-size: 6.4rem;
  line-height: 1.1;
}

h2 {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin-bottom: 2rem;
  color: rgb(var(--light));
  font-family: Eczar, Georgia, "Times New Roman", Times, serif;
  text-transform: lowercase;
  font-size: 3.6rem;
  letter-spacing: 0.1rem;
}

h2::before,
h2::after {
  border-top: 1px solid rgb(var(--light));
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

h2::before {
  margin-left: -100%;
  margin-right: 1rem;
}

h2::after {
  margin-left: 1rem;
  margin-right: -100%;
}

a {
  color: rgb(var(--accent));
  text-decoration: underline;
}

a:hover,
a:active {
  color: #fff;
  text-decoration: underline;
}

p {
  max-width: 80rem;
  margin-bottom: 1.6rem;
  text-align: left;
}

p:last-child {
  margin-bottom: 0;
}

/* FOCUS */

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: 2px #fff solid;
  outline-offset: 0.25rem;
  border-radius: 0.25rem;
}

/* UTILITY */

.highlight {
  color: rgb(var(--accent));
}

.hidden {
  display: none;
}

.tablet-hidden {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.flex-1-3rd {
  height: 100%;
  width: 100%;
  flex: 1 1 33.33%;
}

.flex-half {
  height: 100%;
  width: 100%;
  flex: 1 1 50%;
}

.flex-2-3rds {
  height: 100%;
  width: 100%;
  flex: 1 1 66.66%;
}

/* FORMS */

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
}

label {
  width: 100%;
  display: flex;
}

input,
textarea {
  border-radius: 0.5rem;
  border: 1px solid rgb(var(--light));
  background: transparent;
  color: #fff;
  padding: 0.5rem 1rem;
}

input:focus-visible,
input:active,
textarea:focus-visible,
textarea:active {
  outline: 2px rgb(var(--accent)) solid;
}

input {
  display: inline;
  margin-left: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}

textarea {
  display: block;
  margin-top: 0.5rem;
}

form button {
  align-self: flex-end;
  min-height: 44px;
  min-width: 44px;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(var(--accent));
  color: rgb(var(--dark));
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  cursor: pointer;
}

form button:hover,
form button:focus-visible {
  background: rgb(var(--light));
  color: #fff;
}

form button:active {
  background: transparent;
  outline: 2px rgb(var(--accent)) solid !important;
  color: #fff;
}

.form-row {
  align-items: center;
}

.form-textarea {
  flex-direction: column;
}

/* MAIN CONTENT */

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem 1.6rem;
}

#about,
#work,
#contact {
  scroll-margin-top: 6.8rem;
}

/* ABOUT */

#about div {
  width: 100%;
}

/* WORK */

#proj-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 2rem;
  max-width: 480px;
  margin: 0 auto;
}

/* CONTACT */

#contact-lockup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  max-width: 480px;
  margin: 0 auto;
}

/* BREAKPOINT - desktop */

@media screen and (min-width: 821px) {
  h2 {
    margin-bottom: 2rem;
    text-align: left;
  }

  h2::before {
    display: none;
  }

  main {
    gap: 6rem;
    margin: 6rem 2rem;
  }

  .flex-row {
    flex-direction: row;
  }

  #about h2 {
    margin-bottom: 2rem;
  }

  #contact-lockup {
    flex-direction: row;
    gap: 4rem;
    max-width: none;
    margin: 0;
  }

  .tablet-hidden {
    display: block;
  }
}

/* BREAKPOINT - column to grid */

@media screen and (min-width: 440px) {
  #proj-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
}

/* BREAKPOINT - remove size limit from grid */

@media screen and (min-width: 797px) {
  #proj-grid {
    max-width: none;
  }
}

/* POINTER - non-touchscreen */

@media (pointer: fine) {
  form button {
    min-height: auto;
    min-width: auto;
  }
}
