:root {
  --dark: 33, 19, 53;
  --light: 126, 87, 197;
  --accent: 156, 231, 224;
  font-size: 62.5%;

  font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: rgb(var(--dark));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 2rem;
}

h1 {
  font-family: Eczar;
  font-size: 6.4rem;
  line-height: 1.1;
}

a {
  color: rgb(var(--accent));
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}

/* 
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: var(--dark);
    background-color: var(--light);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
