#env-svg {
  height: 100%;
  width: 100%;
  max-height: 16rem;
}

@media screen and (min-width: 821px) {
  #env-svg {
    padding: 0 4rem;
    max-height: none;
  }
}

@media screen and (min-width: 1025px) {
  #env-svg {
    padding: 0 6rem;
  }
}
